.preload-images-index {
    display: none; 
    width: 0;
    height: 0;
    background: url(/Images/index/en_0.png),
                url(/Images/index/en_1.png),
                url(/Images/index/es_0.png),
                url(/Images/index/es_1.png),
                url(/Images/index/cat_0.png),
                url(/Images/index/cat_1.png)
  }

.home-main-section{
    display: flex;
    align-items: stretch; /*align the items to be the full heihgt of the container*/
    justify-content: space-between; /*ensure that there is the maximum amount of space between elements*/
    opacity: 1;
    transition: 500ms;
    height: 80vmin;
    max-width: 100vmin;
    margin-top:7vmin;
    text-align: justify;
}


.home-main-section .call-to-action{
    display: flex;
    flex-direction:column; /*line all top to buttom*/
    align-items:flex-start; /*align items so that they do not fill the column, but they start from the left*/
    margin: 1rem; /*margin between image and text*/
    max-height: 80vh;
    padding: 5vmin;
}


.footer{
    display: flex;
    align-self: flex-end;
    align-items: flex-end; /*align the items to be the full heihgt of the container*/
    margin: 2em;
    bottom: 0px;
    position: fixed;
}

.text{
    text-align: justify;
    color: gray;
}

.separator{
    width: 180vmin;
}

/*if the image gets too small it disapearsa nd the text is centered*/
@media (max-width: 1100px){
    .home-main-section{
        justify-content: center;
        display:unset;
        height: 90vmin;
        width: 100vmin;
        display: grid;
    }
    .separator{
        width: 100vmin;
    }
    .menu-clickable{
        display: none;
    }

}

@media (max-width: 550px){
    .home-main-section{
        height: 90vmin;
        width: 100vmin;
        display: grid;
    }
    .title{
        display: none;
    }
    .section{
        width:100vmin;
    }
    .home-main-section .call-to-action{
        margin-top:5vmin;
    }
    .container{
        padding: 0px;
    }
    .separator{
        width: 90vmin;
    }
    .home-main-section .call-to-action{
        width: 100vmin;
        display: grid;
    }
    .download-wrapper{
        display: grid ;
        align-content: center;
        justify-content: center;
        width: 90vmin;
    }
    .main-header{
        width: 100%;
    }
    .dropdown{
        right:1em;
        top: 5px;
    }
}